{% extends "base.html.twig" %}

{% block title %}
	Fiche Patient
{% endblock %}

{% block body %}
	<div class="m-4">
		<div class="row m-4">
			<h1>Voici les informations de l'utilisateur stockées en BDD</h1>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="col-7">
					<div class="row">
						<h2>Civilités</h2>
						<hr>

					</div>

					<div class="col">
						<div class="row">
							<div class="col-7">
								<img class="rounded-circle" src="https://avatars.io/twitter/{{ user.firstName }}/medium" alt="avatar">
							</div>
							<div class="col-5">
								<p>Sexe :
									{{ user.gender }}</p>
								<p>Nom :
									{{ user.lastName }}</p>
								<p>Prénom :
									{{ user.firstName }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<h2>Coordonnées</h2>
					</div>
					<div class="row">
						<div class="col-2">
							<p>Adresse :</p>
							<p>Code Postal :</p>
							<p>Ville :</p>
						</div>
						<div class="col-4">
							<p>{{ user.address1 }}</p>
							<p>{{ user.address2 }}</p>
							<p>{{ user.zipCode }}</p>
							<p>{{ user.city }}</p>
						</div>
					</div>
				</div>
				<div class="row">
					<h3>Contact</h3>
				</div>
				<div class="col">
					<p>
						<i class="fas fa-phone"></i>
						{{ user.phone | splitPhone}}</p>
					<p>
						<i class="fas fa-at"></i>
						{{ user.email }}</p>
				</div>
			</div>
			<div class="col-4">
				<div class="text-center mb-4">
					<div class="row">
						<h2>Profession</h2>
					</div>
					<div class="col">
						{{ user.job.title }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-8 text-right">
				<a href="{{ path("admin_user_index") }}" class="btn btn-info">
					<i class="fas fa-backward"></i>
				</a>
				<button class="btn btn-warning">
					<a href="{{ path("admin_user_edit", {'id' : user.id}) }}">
						<i class="far fa-edit text-light"></i>
					</a>
				</button>
				<button class="btn btn-danger">
					<a href="#">
						<i class="fas fa-trash text-light"></i>
					</a>
				</button>
			</div>

		</div>
	</div>
{% endblock %}
