{% extends 'base.html.twig' %}

{% block title %}Soins Ouverts/En cours/Fermés
{% endblock %}

{% block body %}

	<div class="row">
		<h1>Liste de tous les soins</h1>
	</div>
	<div class="row">
		<table class="table table-stripped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Patient</th>
					<th scope="col">Type de plaie</th>
					<th scope="col">Ouvert le</th>
					<th scope="col">Fermé le</th>
					<th scope="col">Interventions</th>
					<th>Modification/Suppression</th>
				</tr>
			</thead>
			<tbody>
				{% for care in cares %}
					<tr>
						<th scope="row">{{ care.id }}</th>
						<td>

							<a href="{{ path("patient_show", {'id': care.patient.id }) }}">{{ care.patient.fullName | upper }}</a>
						</td>
						<td>
							<a href="{{ path('care_show', {'id': care.id}) }}">
								{{ care.woundType }}
							</a>
						</td>
						<td>{{ care.createdAt | date("d/m/Y") }}</td>
						<td>{{ care.endedAt | date("d/m/Y") }}</td>
						<td>
							{% for inter in care.interventions %}
								{{ inter.date | date("d/m/Y") }}<br>
							{% endfor %}
						</td>
						<td class="text-center">
							<button class="btn btn-info">
								<a href="{{ path('care_show', {'id': care.id}) }}">
									<i class="far fa-edit text-light"></i>
								</a>
							</button>
							<button class="btn btn-warning">
								<a href="{{ path("care_edit", {'id' : care.id}) }}">
									<i class="far fa-edit text-light"></i>
								</a>
							</button>
							<button class="btn btn-danger">
								<a href="{{ path("care_delete", {'id': care.id}) }}">
									<i class="fas fa-trash text-light"></i>
								</a>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-4">
			<div class="pagination">
				{{ knp_pagination_render(cares) }}
			</div>
		</div>
	</div>

{% endblock %}
