{% extends "base.html.twig" %}

{% block title %}
	Liste de tous les interventions
{% endblock %}

{% block body %}
	<div class="row">
		<h1>Liste de tous les interventions</h1>
	</div>
	<div class="row m-4">
		<table class="table table-stripped">
			<thead class="thead-dark">
				<tr>
					<th scope="col" width="5%">#</th>
					<th scope="col-3" width="8%">Date</th>
					<th scope="col" width="20%">Soin</th>
					<th scope="col" width="50%">Commentaire</th>
					<th scope="col" width="20%" class="text-center">Image(s)</th>
				</tr>
			</thead>
			<tbody>
				{% for inter in interventions %}
					<tr>
						<td>{{ inter.id }}</td>
						<td>{{ inter.date | date("d-m-Y") }}</td>
						<td>
							<a href="{{ path("intervention_show", {'id': inter.id}) }}">
								{{ inter.care.woundType }}
							</a>
						</td>
						<td>{{ inter.comment }}</td>
						<td class="text-center">
							{{ inter.images | length }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
