{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs de l'application en BDD
{% endblock %}

{% block body %}
	<div class="m-4">
		<div class="row">
			<div class="text-center">
				<h1>Voici la liste des utilisateurs</h1>
			</div>
		</div>
		<div class="row">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Photo</th>
						<th scope="col">Nom Complet</th>
						<th scope="col">Email</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Addresse</th>
						<th scope="col">Profession</th>
						<th scope="col">Controles d'édition</th>
					</tr>
				</thead>
				<tbody>
					{% for u in users %}
						<tr>
							<th scope="row">{{ u.id }}</th>
							<td>
								<img class="rounded-circle" src="https://avatars.io/twitter/{{ u.firstName }}/small" alt="avatar">
							</td>
							<td>
								<a href="{{ path('user_show', {'id': u.id}) }}">
									{{ u.fullName }}
								</a>
							</td>
							<td>{{ u.email }}</td>
							<td>{{ u.phone | splitPhone }}</td>
							<td>{{ u.address1 }}
								{{ u.address2 }}
								{{ u.zipCode }}
								{{ u.city }}</td>
							<td>{{ u.job.title }}</td>
							<td class="text-center">
								<button class="btn btn-info">
									<a href="{{ path("user_edit", {'id' : u.id}) }}">
										<i class="far fa-edit text-light"></i>
									</a>
								</button>
								<button class="btn btn-danger">
									<a href="#">
										<i class="fas fa-trash text-light"></i>
									</a>
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
